{% extends 'base.twig' %}
{% block content %}
<form>
    <div class="input-group mb-3">
        <input type="search" name="s" class="form-control" placeholder="search" aria-label="search"
               aria-describedby="basic-addon2">
        <div class="input-group-append">
            <button class="btn btn-primary">search</button>
            <a class="btn btn-success" href="{{ path_for('anime.index') }}">reset</a>
        </div>
    </div>
</form>
<table class="table">
    <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">Nazwa</th>
        <th scope="col">Główny</th>
    </tr>
    </thead>
    <tbody>
    {% for item in items %}
    <tr>
        <td scope="row" id="#item">{{ item.id }}</td>
        <td id="anime-name-{{ item.id }}">
            {% if item.mal_id %}
                <a href="https://myanimelist.net/anime/{{ item.mal_id }}" target="_blank">{{ item.name }}</a>
            {% else %}
                <a href="https://myanimelist.net/search/all?q={{ item.name }}" target="_blank">{{ item.name }}</a>
            {% endif %}
        </td>
        {% if not item.main %}
        <td>
            {% include '_update-form.twig' with {id:item.id} %}
        </td>
        {% else %}
        <td>
            {% include '_delete-form.twig' with {id:item.id, main:item.main} %}
        </td>
        {% endif %}
    </tr>
    {% endfor %}
    </tbody>
</table>
<span><a href="{{ path_for('anime.index', {}, {'p':  max(page - 1, 1)}) }}">Prev</a> | <a
            href="{{ path_for('anime.index', {}, {'p':   min(page + 1, 13)}) }}">Next</a></span>
{% endblock %}
{% block styles %}
    <link href="https://cdnjs.cloudflare.com/ajax/libs/awesomplete/1.1.2/awesomplete.min.css" rel="stylesheet">
    <style>
        .awesomplete {
            -webkit-box-flex: 1;
            -ms-flex: 1 1 auto;
            flex: 1 1 auto;
            width: 1%;
            margin-bottom: 0;
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
        }
    </style>
{% endblock %}
{% block scripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/awesomplete/1.1.2/awesomplete.min.js"></script>
    <script>
        var titles = {{ titles | json_encode | raw }};
        function onUpdate(e) {
            e.preventDefault();
            var that = this;
            $.post(this.action, {name: this.elements.name.value}, function (payload) {
                var container = that.parentElement;
                container.innerHTML = payload;
                $(container).find('.form-delete').submit(onDelete);
            });
        }

        function onDelete(e) {
            e.preventDefault();
            var that = this;
            $.post(this.action, function (payload) {
                var container = that.parentElement;
                container.innerHTML = payload;
                var form = $(container).find('.form-update');
                form.submit(onUpdate);
                const aws = new Awesomplete(form.find('.typeahead')[0]);
                aws.list = titles;
            });
        }

        $('.typeahead').each(function (i, item) {
            const aws = new Awesomplete(item);
            aws.list = titles;
        });
        $('.form-update').submit(onUpdate);
        $('.form-delete').submit(onDelete);
    </script>
{% endblock %}
